@font-face {
    font-family:"Ubuntu";
    font-family:"Inconsolata";
    
}
html, body {
    width:100%;
    padding-bottom:-50px;
    background-image:url("../img/gradient-03.png");
    background-size:cover;
}

.container {
    width:100%;
    height:800px;
    margin-top:-25px;
}

.title {
    float:right;
    height:600px;
    width:400px;
    background-image:url("../img/titecircle-04.png");
    margin-top:150px;
    margin-right:150px;
    background-repeat: no-repeat;
    background-size:contain;
}

.title:hover{
     -webkit-transform: rotate(270deg);
    background-position: 50% 50%;
}

#bottom {
    background-image:url("../img/meteorstreaks-02.png");
    background-size:contain;
    opacity:0;
    
    -webkit-animation: move 10s infinite;
    -webkit-animation-fill-mode:forwards;
    animation-delay:1s; 
}

@-webkit-keyframes move {
    0% {0;}
    100% {-600;}
    
}

 #text {
    width:250px;
    height:400px;
    font-family:"Ubuntu";
    color:white;
     margin-left:70px;
     padding-top:195px;
     padding-right:45px;
     font-size:15px;
     background-size:contain;
}



    
